# Folders
/.vscode
/backups
/crash-reports
/local
/logs
/natives
/resourcepacks
/saves
/screenshots
/server-resource-packs
/shaderpacks/ComplementaryShaders_v4-2

# Files
/TlauncherAdditional.json
/usercache.json
/usernamecache.json