# Folders
/.vscode
/backups
/crash-reports
/local
/logs
/natives
/resourcepacks
/saves
/screenshots
/server-resource-packs
/shaderpacks/ComplementaryShaders_v4-2

# Files
/modpack.jar
/TlauncherAdditional.json
/usercache.json
/usernamecache.json
config/roughlyenoughitems/config.json5
config/roughlyenoughitems/pinyin_double.properties
config/roughlyenoughitems/pinyin.properties
